 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
} 

.nav-bar {
    display: flex;
    height: 72px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    padding: 20px;
    column-gap: 1%;
    margin-bottom: 3px;


}
.toggle{
    display: none;
}
#sr{
    flex-grow: 1;
    height: auto;
}

.in-search-bar{
    padding-left: 15px;
    width: 80%;
    height: 34px;
    border-radius: 999999px;

}
.search-tn{
    border: 1px black solid;
    height: 34px;
    width: 80px;
    border-radius: 2px;
}

#search-btn:active {
    background-color: #6a6f73;
}

.login{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    padding: 1%;
}

.signup{
    color: white;
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    padding: 1%;
}

.language-btn{
    padding: 0.6%;
    border: 1px solid black;
}

@media only screen and (max-width: 1200px) {
    #sr , .udemy-business, .teach-on-udemy, .categories, .cart{
        display: none;
    }

    .in-search-bar{
        display: none;

    }
    .search-tn{
        display: none;
    }

    .login{
        display: none;
    }

    .signup{
        display: none;
    }

    .language-btn{
        display: none;
    }
    .udemylogo{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .toggle{
        display: inline-block;
    }
    

}

/*END---NAV*/


/*mid*/

.container1{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background-color: rgba(248,249,251,255);
    height: 373px;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.container1-card-info{
    position: relative;
    top: 50px;
    left: 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    background-color: white;
    width: 370px;
    height: 150px;
    padding: 20px;
    padding-right: 30px;
    
}

.alarm{
    padding-right: 10%;
    margin-left: auto;
    max-width: auto;
}

@media only screen and (max-width: 1200px) {
    .container1{
        flex-direction: column-reverse
    }
    .container1-card-info{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        top: 10px;
        height: 130px;
    }
    .alarm{
        padding: 0%;
        margin: auto;
        margin-bottom: 0;
        height: 230px;

    }
  }

/*end-mid*/


.container2{
    margin-left: 10%;
    margin-right: 10%;
    line-height: 22.4px;
    padding-left: 20px;
    padding-right: 20px;
}
.container2-main{
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;

}

.container2-sub{
    font-size: 19px;
    font-weight: 400;
    line-height: 40px;
}

.courses{
    display: flex;
    position: static;
    row-gap: 16px;
    column-gap: 16px;
    color: #6a6f73;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;

}

.container3{
    padding: 32px;
    border: 1px solid rgb(209, 215, 220);
   
}

.textCont3{
    margin-bottom: 32px;
    line-height: 40px;
}

.textCont3 h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    

}

.con3P{
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 800px;
    
}

.explorePython{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding: 12px;
    border: 1px solid rgb(28, 29, 31);
}

ul {
    list-style-type: none;
}

#courses{
    display: flex;    
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    
}

.imgconf{
    width: 100%;
    max-width: 180px;
   
    
}

a{
    text-decoration: none;
}

.coursename{
    font-size: 16px;
    font-weight: 700;
    color: black;
    max-width: 180px;
    display: block;
}

.coureseauthor{
    color: rgb(106, 111, 115);
    font-size: 12px;
    font-weight: 400;
    max-width: 180px;
    display: block;
}

.rating{
    color: rgb(153, 105, 17);
    font-size: 16px;
    font-weight: 700;
    max-width: 180px;
}

.price{
    color: #1c1d1f;
    font-size: 16px;
    font-weight: 700;
    max-width: 180px;
    margin-left: 30%;
    display: block;
    
}

@media only screen and (max-width: 1200px) {
    .pythonCourses{
        display: flex;    
        column-gap: 16px;
        flex-wrap: wrap;
    }
}

.catp{
    color: #1c1d1f;
    font-size: 16px;
    font-weight: 700;
}



/* categories list */

/*#catSec{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 22.4px;
    padding: 20px;
    
}*/

/*#categories{
    padding: 33px;
    border: 1px solid rgb(209, 215, 220);
}
.imgconf1{
    max-width: 400px;

}*/